th {
    font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
}

.members-table {
    padding-top: 2rem;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid black;
    border-radius: 1rem;
}

thead {
    color: #043431;
    border-bottom: solid #09340e 0.1rem;
    background: rgba(114, 218, 212, 0.54);
}

tr, th {
    border: #09340e 0.1rem solid;

}

tr:nth-child(2n) {
    background: rgba(163, 213, 197, 0.38);
}


